<link rel="stylesheet" type="text/css" href="${ctxPath}/css/global/index.css" />
<link rel="stylesheet" type="text/css" href="${ctxPath}/css/element/index.css" />
<link rel="stylesheet" type="text/css"
	href="http://at.alicdn.com/t/font_1326341_c2cj6q99mn.css" />
<script type="text/javascript" src="${ctxPath}/js/vue.js"></script>
<script type="text/javascript" src="${ctxPath}/js/element.js"></script>
<script type="text/javascript" src="${ctxPath}/js/init.js" defer></script>
<script type="text/javascript" src="${ctxPath}/js/axios.js" defer></script>