<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>yipmall</title> <% include("./lib.html"){} %>
</head>
<body>
	<div id="app" class="main">
		<mod-sidebar></mod-sidebar>
		<div style="position: relative; width: 100%;">
			<div
				style="position: absolute; left: 0; top: 0; right: 0; bottom: 0;">
				<div class='wrapper'>
					<mod-header></mod-header>
					<main-page class='main-page'></main-page>
					<mod-footer></mod-footer>
				</div>
			</div>
		</div>
	</div>
</body>
<% 
include("/layouts/header.html"){}
include("/layouts/sider.html"){}
include("/layouts/footer.html"){} 
%>